   #company_name_div{
        height:150px;
        width:360px;
    }
    #logoimg{
        width:100%;
        height:auto;
    }
    .info{
    display: inline;
    font-size: 16px;
    font-style:oblique;
    color:red;
    }