<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/masthead.css}" rel="stylesheet" />	
    <link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>

   <div th:replace="template :: masthead"></div>
   <div th:replace="template :: navigation"></div>
   
	<h1>About Us / Contact Us</h1>
    <p>We make natural, low-VOC plant-based, interior/exterior paints and finishes free from petrochemicals and solvents. We also offers water-based, nontoxic wood finishes and sealers containing no VOCs and no heavy metals.</p>
   	
</body>
</html>