<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<title>Blogz</title>
</head>

<body>
 <div th:fragment="masthead">
    <div id="company_name_div">
         <img id="logoimg" src="/images/masthead.png"/>
    </div>   
 </div>
 
<nav th:fragment="navigation">
	<p class="info" th:text="${logged_user}"></p>
	<ul id="user-account">
	    <li><a href="/login">login</a></li>
	    <li><a href="/logout">logout</a></li>
	</ul>
	<ul>
        <li><a href="/paintselect">home</a></li>
        <li><a href="/rooms">all rooms</a></li>
    </ul>
    <p class="info" th:text="${status_msg}"></p>
</nav>

</body>
</html>