
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head lang="en" th:fragment="dochead">
	<link th:href="@{/css/normalize.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<title>Blogz</title>
</head>

<body>
 
 <nav th:fragment="navigation">
  <div id="masthead">
     <div id="company_name_div">
         <img id="logoimg" src="/images/masthead.png"/>
     </div>   
	<ul>
        <li><a href="/paintselect">Home</a></li>
        <li><a href="/rooms">Gallery</a></li>
	    <li><a href="/login">Login</a></li>
	    <li><a href="/logout">Logout</a></li>
	    <li><a href="/AboutUsContactUs">About Us/Contact Us</a></li>
    </ul>
    <p class="info" th:text="${status_msg}"></p>	
  </div>  
</nav>

</body>
</html>